<!-- Tytul/nazwa w ktory po kliknienciu jestesmy przkierowywyani do strony glwoenje -->
<!-- Kazda strona bedziepo nim dziedziczyc -->
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Baza Sklepów</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center; /* Wyśrodkowanie poziome */
            min-height: 50vh; /*wysokosc od czubka storny */
            margin: 0;
        }
        main {
            width: 80%; /* Maksymalna szerokość treści */
            margin: 0vh; /* Odstęp od góry do zawartosci  ktora dziedziczy*/
        }
    </style>
</head>
<body>
    <header>
        <h1>    
            <a href="{% url 'homePage' %}" style="text-decoration: none; color: inherit;">
                Baza Sklepów
            </a>
        </h1>
    </header>
    <main>
        {% block content %}
        <!-- Strony beda dziedziczyc po niej dzieki czemu glowa zawsze zostanie taka sama i w tym miesjcu poawjaiwa sie własnei zawartosc strony -->
        {% endblock %}
    </main>
</body>
</html>
