<!-- Tytul/nazwa w ktory po kliknienciu jestesmy przkierowywyani do strony glwoenje -->
<!-- Kazda strona bedziepo nim dziedziczyc -->

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baza Sklepów</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'produkty.css' %}">
    <link rel="stylesheet" href="{% static 'onion.css' %}">
    <script src="{% static 'main.js' %}"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'style2.css' %}">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'search.css' %}">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    
</head>
<body>
    <header class="black-bar">
        <div class="bar-content">
            <h1>
                <a href="{% url 'homePage' %}" style="text-decoration: none; color: inherit;">
                    Baza Sklepów
                </a>
            </h1>
            <form method="get" action="{% url 'search' %}" class="search-bar">
                <input type="text" name="q" placeholder="Szukaj produktów..." value="{{ request.GET.q|default:'' }}">
                <button type="submit">Szukaj</button>
            </form>
        </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
    <script src="main.js"></script>
</body>
</html>
