{% extends "base.html" %}

{% block content %}
<!-- <style>
    .categories {
        display: flex;
        flex-direction: row;
        gap: 20px; /* Odstępy między kategoriami */
    }

</style> -->
<div class="boxing_title_container">
    <div class="boxing_title">
        
    </div>

    <div class="categories">
        {% for kategoria in kategorie %}
            <a href="{% url 'produkty_by_kategoria' kategoria %}" class="category-item">
                {{ kategoria }}
            </a>
        {% endfor %}
    </div>
</div>


{% endblock %}
