{% extends "base.html" %}

{% block content %}

<!-- lewa strona - filtry -->
<div style="display: flex;">
    <div style="width: 20%; padding-right: 20px;"> <!--zajmuje 20% mijsca na stronie -->
        <h3>Filtry</h3>
        <form method="get">
            <!--do podawani walsne zakresu cenowego -->
            <label for="min_cena">Cena minimalna:</label>
            <input type="number" name="min_cena" id="min_cena" value="{{ min_cena }}">
            <br>
            <label for="max_cena">Cena maksymalna:</label>
            <input type="number" name="max_cena" id="max_cena" value="{{ max_cena }}">
            <br>
            
            <!--filtry w zaleznosci od kategori (DODAJ WIECEJ)-->
            {% if kategoria|lower == 'telewizor' %}
                <label for="przekatna">Przekątna (cal):</label>
                <input type="number" name="przekatna" id="przekatna" value="{{ filter_by.przekatna }}">
            {% endif %}
            
            <br>
            <button type="submit">Zastosuj filtry</button>
        </form>
    </div>


 <!-- prawa czesc storyn-->
<div style="width: 80%;">
<h1>{{ kategoria }}</h1>
<div>
    <!-- przycisk sortowania -->
    <a href="?sort=cena&order=asc" 
    {% if order == 'asc' %} style="font-weight: bold;" {% endif %}>Sortuj rosnąco</a>
    |
    <a href="?sort=cena&order=desc" 
    {% if order == 'desc' %}style="font-weight: bold;"{% endif %}>Sortuj malejąco</a>
</div>
 
<!-- wyswietla produkty powiazane z kategoria -->

<ul>
    {% for produkt in produkty %}
        <li>
            <a href="{% url 'produktPage' kategoria produkt.id %}">
                {{ kategoria }} {{ produkt.marka }} - {{ produkt.model }}
                {% if produkt.cena %}
                    <span>Cena: {{ produkt.cena }} PLN</span>
                {% endif %}
            </a>
        </li>
    {% endfor %}
</ul>


{% endblock %}
