main {
    width: 90%; 
    margin: 20px 0;
}

.black-bar {
    background-color: #1c1b1b; 
    color: #ffffff; 
    width: 100%; 
    padding: 10px 20px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    position: sticky; 
    top: 0;
    z-index: 1000; 
}

.bar-content {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    max-width: 1200px;
    margin: 0 auto; 
}

.bar-content h1 {
    font-size: 3rem; 
    margin: 0; 
    color: #ffffff; 
}

.bar-content a {
    text-decoration: none; 
    color: inherit; 
}

body {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    min-height: 50vh; 
    margin: 0;
}


:root {
    --tlo: #ffffff;
    --tekst_ciemny: #000000; 
    --tekst_jasny: #252121; 
    --tlo_okna_wpisywania_i_przyciskow: #6c63ff; 
    --hover_highlight: #cdae00; 
    --category_bg: #ffffff; 
    --category_hover: #000000; 
    --box_shadow: rgba(0, 0, 0, 0.2);
}


/*pas wysuzkiwania*/
.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0; 
}


.search-bar input[type="text"] {
    width: 600px; 
    height: 50px; 
    padding: 10px 15px; 
    font-size: 18px; 
    border: 2px solid #ccc; 
    border-radius: 8px; 
    transition: border-color 0.3s ease-in-out; 
}


.search-bar input[type="text"]:hover,
.search-bar input[type="text"]:focus {
    border-color: #6c63ff; 
    outline: none;
}


.search-bar button {
    height: 50px;
    padding: 0 20px; 
    margin-left: 10px; 
    font-size: 18px; 
    background-color: #6c63ff;
    color: #fff; 
    border: none; 
    border-radius: 8px; 
    cursor: pointer; 
    transition: background-color 0.3s ease-in-out; 
}


.search-bar button:hover {
    background-color: #5245c1; 
}
