* {
    box-sizing: border-box;
}



.filtry input[type="text"],
.filtry input[type="number"] {
    background-color: #ffffff; /* Bright white */
    color: var(--tekst_ciemny); 
    border: 1px solid var(--tekst_jasny); 
    padding: 10px; 
    border-radius: 6px;
}

.filtry input button {
    background-color: var(--tlo_okna_wpisywania_i_przyciskow); 
    color: #ffffff; 
    border: none; 
    padding: 10px; 
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.filtry input button:hover {
    background-color: var(--hover_highlight); 
    transform: scale(1.05);
}

/*       DLA KATEGORIE PAGE       */
.categories {
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: space-between;
    margin: 20px 0;
}

.category-item {
    display: flex; 
    justify-content: center; 
    font-size: 1.5rem; 
    font-weight: bold; 
    width: calc(33.33% - 20px); 
    height: 200px; 
    padding: 20px; 
    background-color: var(--category_bg); 
    border-radius: 10px;
    text-align: center; 
    text-decoration: none; 
    color: #ffffff; 
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 6px var(--box_shadow);
}

.category-item:hover {
    background-color: var(--category_hover); 
    color: var(--tekst_ciemny); 
    transform: scale(1.05);
}

.filtry {
    color: var(--tekst_ciemny); 
    letter-spacing: 1.5px;
}

.lista_produktow ul {
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
    padding: 0; 
    list-style-type: none; 
    margin: 20px 0;
}

.produkt-item {
    background-color: #ffffff; 
    border: 1px solid var(--tekst_jasny); 
    border-radius: 10px; 
    padding: 15px; 
    text-align: center; 
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px var(--box_shadow);
}

.produkt-item:hover {
    transform: translateY(-8px); 
    box-shadow: 0 6px 12px var(--box_shadow);
}

.produkt-info {
    margin-top: 10px;
}

.produkt-kategoria {
    font-size: 1.2rem; 
    font-weight: bold; 
    color: var(--tekst_ciemny); 
    margin-bottom: 5px;
}

.produkt-marka {
    font-size: 1rem; 
    color: var(--tekst_jasny); 
    margin-bottom: 5px;
}

.produkt-model {
    font-size: 0.9rem; 
    font-style: italic; 
    color: var(--tekst_jasny); 
    margin-bottom: 10px;
}

.produkt-cena {
    font-size: 1.2rem; 
    font-weight: bold; 
    color: var(--hover_highlight);
}
